# configuração do server
[mysqld]
server-id=10
log-bin=/var/lib/mysql/mysql-bin.log
binlog-do-db=pop
binlog-ignore-db=mailstats,mysql,pop.bak,radius.bak,test
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
old_passwords=1
bind-address=0.0.0.0
port = 3306
basedir=/usr
log-error=/var/log/mysqls.log
secure-auth=false
wait_timeout=10
connect_timeout = 15

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# configuração do cliente
[client]
port=3306
socket=/var/lib/mysql/mysql.sock
